<div id="<%= dom_id pet %>">
  <p>
    <strong>Nombre:</strong>
    <%= pet.nombre %>
  </p>

  <p>
    <strong>Raza:</strong>
    <%= pet.raza %>
  </p>

  <p>
    <strong>Fecha nacimiento:</strong>
    <%= pet.fecha_nacimiento %>
  </p>

  <p>
    <strong>Fecha nacimiento:</strong>
    <%= pet.fecha_nacimiento %>
  </p>

  <%
=begin%>
 <p>
    <strong>Visitos:</strong>
    <%= pet.visitos %>
  </p> 
<%
=end%>

</div>
